### Importação dos dados

In [1]:
import pandas as pd

l1 = "Lojas/loja_1.csv"
l2 = "Lojas/loja_2.csv"
l3 = "Lojas/loja_3.csv"
l4 = "Lojas/loja_4.csv"

loja1 = pd.read_csv(l1)
loja2 = pd.read_csv(l2)
loja3 = pd.read_csv(l3)
loja4 = pd.read_csv(l4)

loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

#1. Análise do faturamento

In [7]:
loja1_faturamento = loja1["Preço"].sum().item()
loja2_faturamento = loja2["Preço"].sum().item()
loja3_faturamento = loja3["Preço"].sum().item()
loja4_faturamento = loja4["Preço"].sum().item()
print(f"Faturamento: Loja 1 - R$ {loja1_faturamento:,.2f} Loja 2 - R$ {loja2_faturamento:,.2f} Loja 3 - R$ {loja3_faturamento:,.2f} Loja 4 - R$ {loja4_faturamento:,.2f}")

Faturamento: Loja 1 - R$ 1,534,509.12 Loja 2 - R$ 1,488,459.06 Loja 3 - R$ 1,464,025.03 Loja 4 - R$ 1,384,497.58

In [8]:
faturamento_total = loja1_faturamento + loja2_faturamento + loja3_faturamento + loja4_faturamento
print(f"Faturamento total: R$: {faturamento_total:,.2f}")

Faturamento total: R$: 5,871,490.79

# 2. Vendas por Categoria

In [45]:
categoria1 = (
    loja1.groupby("Categoria do Produto")["Produto"]
    .count()
    .reset_index(name="Quantidade")
)

categoria2 = (
    loja2.groupby("Categoria do Produto")["Produto"]
    .count()
    .reset_index(name="Quantidade")
)

categoria3 = (
    loja3.groupby("Categoria do Produto")["Produto"]
    .count()
    .reset_index(name="Quantidade")
)

categoria4 = (
    loja4.groupby("Categoria do Produto")["Produto"]
    .count()
    .reset_index(name="Quantidade")
)
categoria3

    Categoria do Produto  Quantidade
0             brinquedos         315
1       eletrodomesticos         278
2            eletronicos         451
3        esporte e lazer         277
4  instrumentos musicais         177
5                 livros         185
6                 moveis         499
7  utilidades domesticas         177

# 3. Média de Avaliação das Lojas

In [53]:
avaliacao1 = loja1["Avaliação da compra"].mean().item()
avaliacao2 = loja2["Avaliação da compra"].mean().item()
avaliacao3 = loja3["Avaliação da compra"].mean().item()
avaliacao4 = loja4["Avaliação da compra"].mean().item()

print(f"Loja 1 - {round(avaliacao1, 2)}, Loja 2 - {round(avaliacao2, 2)}, Loja 3 - {round(avaliacao3, 2)}, Loja 4 - {round(avaliacao4, 2)}")

Loja 1 - 3.98, Loja 2 - 4.04, Loja 3 - 4.05, Loja 4 - 4.0

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja